@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue";
}

body {
    width: 100vw;
    height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;

    background: #023535;
}

.container {
    width: 1012px;
    height: 720px;

    background-color: #fff;
    border-radius: 4px;

    display: flex;
}

.message {
    width: 337.5px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #0CABA8;
}

figure {
    width: max-content;
    height: max-content;
}

.arrow-back {
    width: 17px;
    height: 24px;

    margin-left: 16px;
    margin-top: 26px;
}

.message h2 {
    width: 203px;
    height: 232px;

    margin-left: 68px;
    margin-top: 109px;
    margin-bottom: 155px;

    color: #fff;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
}

.message p {
    width: 153px;
    height: 53px;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #fff;
    margin-left: 80px;
}

.login {
    width: 674.5px;
    height: 720px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.login h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 32px;

    color: #0CABA8;
    margin-bottom: 32px;   
}

form {
    width: 400px;
    height: 172px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-bottom: 62px ;
}

form span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #015958;
    margin-bottom: 12px;
}

label {
    height: 48px;
    width: 400px;
    
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 4px;

    margin-bottom: 14px;
}

input {
    height: 48px;
    width: 360px;

    border-style: none;
    background-color: transparent;

    font-family: "Inter";
    font-weight: 500;
    color: #023535;
}

input:focus-visible {
    outline: none;
}

button {
    width: 400px;
    height: 52px;

    border-style: none;
    background-color: #023535;

    font-size: 32px;
    font-weight: 100;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 40px;
}

button:hover {
    background-color: #015958;
    cursor: pointer;
}

button:active {
    background-color: #008F8C;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);

}

.link-cadastro {
    width: 400px;
    text-decoration: none;
    text-align: center;

    font-family: "Inter";
    font-size: 14px;
    color: #7C7C8A;
}

.link-cadastro:hover {
    text-decoration: underline 1px solid #7C7C8A;
}

