@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue";
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #0CABA8;
}

.container {
    width: 1012px;
    height: 720px;

    background-color: #fff;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.cadastro {
    width: 400px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}

.arrow-back {
    width: 17px;
    height: 24px;

    margin-top: 26px;
    margin-left: 19px;
}


.cadastro h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 32px;
    
    line-height: 38.73px;

   text-align: center;
   
    margin-top: 131px;
    margin-bottom: 32px;
    color:#015958
}

form {
    width: 400px;
    height: 172px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 62px;
}

form span {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    color:#015958;
    margin-bottom: 12px;
}

label, input {
    height: 48px;
    background-color: #f5f5f5;
}

form label {
    width: 400px;
    display: flex;

    justify-content: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

input {
    height: 48px;
    width: 360px;

    border-style: none;
    background-color: transparent;

    font-family: "Inter";
    font-weight: 500;
    color: #023535;
}

input:focus-visible {
    outline: none;
}

.link-login, .link-back {
    width: 400px;
    text-decoration: none;
    text-align: center;

    font-family: "Inter";
    font-size: 14px;
    color: #7C7C8A;

}

.link-login:hover, .link-back:hover {
    text-decoration: underline 1px solid #7C7C8A;
}

.link-back {
    margin-top: 40px;
}

button {
    width: 400px;
    height: 52px;

    border-style: none;
    background-color: #023535;

    font-size: 32px;
    font-weight: 100;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 40px;
}

button:hover {
    background-color: #015958;
    cursor: pointer;
}

button:active {
    background-color: #008F8C;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}

